<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>編集画面</title>
  <style>
    .red{
      color: red;
    }
    .invalid{
      border:2px solid red;
    }
  </style>
</head>
<body>
  <h2>編集</h2>
  <form th:action="@{/update/{id}(id=${id})}" th:object="${todoList}" method="post">
    <label>コンテンツ</label>
    <input type="text" th:field="*{content}" th:errorclass="invalid"><br>
    <div class="red" th:errors="*{content}"></div>

    <label>達成</label>
    <input type="checkbox" th:field="*{todo}"  th:errorclass="invalid"><br>
    <div class="red" th:errors="*{todo}"></div>

    
    <button>送信</button>
  </form>
</body>
</html>